Source: ros-hydro-strands-base
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-strands-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-routine-behaviours, ros-hydro-scitos-apps, ros-hydro-scitos-common, ros-hydro-strands-apps, ros-hydro-strands-bringup, ros-hydro-strands-hri, ros-hydro-strands-movebase, ros-hydro-strands-navigation, ros-hydro-strands-perception-people, ros-hydro-strands-recovery-behaviours, ros-hydro-strands-social, ros-hydro-strands-ui, ros-hydro-strands-webtools, ros-hydro-task-executor
Description: A metapackage to aggregate several packages.
