Source: ros-indigo-strands-base
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-strands-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-routine-behaviours, ros-indigo-scitos-apps, ros-indigo-scitos-common, ros-indigo-strands-apps, ros-indigo-strands-bringup, ros-indigo-strands-hri, ros-indigo-strands-movebase, ros-indigo-strands-navigation, ros-indigo-strands-perception-people, ros-indigo-strands-recovery-behaviours, ros-indigo-strands-social, ros-indigo-strands-ui, ros-indigo-strands-webtools, ros-indigo-task-executor
Description: A metapackage to aggregate several packages.
